@font-face {
  font-family: 'icomoon';
  src: url('../font/icomoon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu_icon:before {
  content: "\e900";
  font-size: 40px;
}
.icon-github_icon:before {
  content: "\e901";
  font-size: 46px;
  color: black
}
.icon-unb_icon:before {
  content: "\e902";
  font-size: 37px;
}

.icon-x_icon:before {
  content: "\e903";
  font-size: 50px;
}